body {
  font-family: Arial, sans-serif;
  padding: 144px;
  background-color: rgb(13, 130, 193);
}

h1 {
  text-align: center;
}

.container {
  width: 300px;
  margin: 0 auto;
}

.input-group {
  margin-bottom: 10px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.input-group input {
  width: 100%;
  padding: 5px;
}

.btn {
  display: block;
  width: 100%;
  padding: 10px;
  text-align: center;
  background-color: #43c047;
  color: #fff;
  border: 3px solid yellow;
  cursor: pointer;
  border-radius: 50px;
  margin: 5.5px;
}

#result
{
    text-align: center;
    font-weight: bold;
}